@import "css-modules/loader.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */

body {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

/* Typeography General*/
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
    color: #fff;
    padding: 10px;
}

h1 span.subtitle {
    font-size: 0.5em;
    font-weight: 300;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
        padding: 10px;
    }
}

h2 {
    border-bottom: 1px solid #b0bec5;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    color: #b0bec5;
}

p {
    line-height: 1.6em;
    color: #b0bec5;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/

.navbar__menu {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.navbar__menu li {
    display: inline-block;
    margin: 0.1em 1em;
    padding: 0.2em;
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.navbar__menu li:hover {
    cursor: pointer;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.add-section-button {
    background-color: #FF7F50;
    color: #fff;
    padding: 1em 2em;
    border-radius: 1em;
    font-size: 1.2em;
    border: 0;
}

.add-section-button:hover {
    cursor: pointer;
    transition: ease 0.2s all;
    box-shadow: 0 0 20px 5px #cfd8dc,
    inset 1px 1px 0 #FF7F50;
    animation: glow 2s infinite ease;
}

/* Header Styles */
.page__header {
    background: #fff;
    box-shadow: 0px 3px 10px #0000004D;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    min-height: 10vh;
}

/* Footer Styles */

.go-to-top-button {
    position: fixed;
    height: 20px;
    width: 20px;
    text-align: center;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    background-color: #FF7F50;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.4s;
    font-size: 18px;
}

.go-top-arrow-img {
    filter: invert(100%);
    color: #fff;
    height: 20px;
    width: 20px;
}

.visible {
    opacity: 1;
}


.go-to-top-button:hover {
    transition: ease 0.2s all;
    box-shadow: 0 0 20px 5px #cfd8dc,
    inset 1px 1px 0 #FF7F50;
    animation: glow 2s infinite ease;
}

footer {
    margin-top: 2em;
    background-color: transparent;
    padding: 3em;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: large;
    flex-flow: column wrap;
}

.icon-container img {
    height: 40px;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */

h1.active-section {

    color: #fff;
    text-shadow: 0 0 5px #fff,
        0 0 80px #fff,
        0 0 90px #fff,
        0 0 100px #2C5364,
        0 0 150px #2C5364;
    animation: glow 2s infinite ease;
}

nav li.active-section {
    color: #2C5364;
    animation: glow 2s infinite ease;
}

section.active-section div {
    border-radius: 0.5em;
    transition: ease 1s all;
    box-shadow: 1px 1px 0 #b0bec5,
    0 0 20px 5px #cfd8dc,
    inset 2px 2px 0 #eceff1;
    animation: glow 2s infinite ease;
}

section.active-section p,
section.active-section h2 {
    color: #fff;
}