@import "css-modules/loader.css";
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */

html {
    scroll-behavior: smooth;
}

body {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #b0bec5;
}

/* Typeography General*/
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 3em;
    margin: 2em 1rem;
    color: #607d8b;
    padding: 10px;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
        padding: 10px;
    }
}

h2 {
    border-bottom: 1px solid #b0bec5;
    font-family: 'Chelsea Market', cursive;
    font-size: 3em;
    color: #b0bec5;
}

p {
    line-height: 1.6em;
    color: #b0bec5;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/

.navbar__menu {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu a {
    color: #b0bec5;
    padding: 1em;
    font-weight: bold;
}

.navbar__menu a:hover {
    color: #fff;
    transition: ease 0.3s all;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.add-section-button {
    background-color: #FF7F50;
    color: white;
    padding: 1em 2em;
    border-radius: 1em;
    font-weight: bold;
    border: 0;
}

.add-section-button:hover {
    cursor: pointer;
    transition: ease 0.3s all;
    text-decoration: underline;
}

/* Header Styles */
.page__header {
    background: #000000ae;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    min-height: 10vh;
}

.theme-selector {
    width: 300px;
    margin: 0 auto;
}

.theme-selector li {
    display: inline;
    padding: 0.5em;
    color: #fff;
    font-size: large;
}

.theme-selector li:hover {
    cursor: pointer;
}

.button-light-mode {
    background-color: #fff;
    color: #000 !important;
}

.button-dark-mode {
    background-color: #000;
    color: #fff;
}

/* Footer Styles */
footer {
    margin-top: 2em;
    background-color: #000;
    padding: 3em;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: large;
    flex-flow: column wrap;
}

.icon-container img {
    height: 40px;
    padding-bottom: 3em;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
section.active-section div {
    /* background: linear-gradient(0deg, #b0bec5, #607d8b); */
    background-color: #607d8b;
    border-radius: 0.5em;
    transition: ease 1s all;
    box-shadow: 1px 1px 0 #b0bec5,
    0 0 20px 5px #cfd8dc,
    inset 2px 2px 0 #eceff1;
    animation: glow 2s infinite ease;
}

section.active-section p,
section.active-section h2 {
    color: #fff;
}
